body {
    width:100%;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

h1 {
    text-align: center;
    font-size: 60px;
}

h3 {
    font-family: 'Satisfy', cursive;
}

.lead {
    font-size: 25px;
}

.callout-container {
    height: 60vh;

    background: url("../img/header-bar.jpg");
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0, 0, 0, 1);
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    font-weight: bold;
    color:rgb(255, 140, 0);
    margin-left:20px;
    margin-right:-150px;
}

.navbar .navbar-nav a {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

#ContactsHero {
    height: 60vh;

    background:url(../img/outside.jpg) ;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#EventsHero {
    height: 60vh;

    background: url(../img/wine.jpg);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#MenuHero {
    height: 60vh;

    background: url(../img/pasta-menu.jpg);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#GalleryHero {
    height: 60vh;

    background: url(../img/outside-header.jpg);
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color:rgb(255, 140, 0);
}

.block-divider--white {
    background-color: white;
}

.block-divider--short {
    width: 35px;
}

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: rgb(255, 140, 0);
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(255, 140, 0);
}

/* Footer */

footer {
    background-color: rgba(70, 70, 70, 0.9);
    color: #fafafa;
    min-height:120px;
    margin: 0;
    padding-top: 15px;
}

.list-inline {
    font-size: 40px;
    text-align: center;
}

.fa-instagram, .fa-facebook, .fa-map-marker-alt, .fa-phone-alt {
    color: rgb(255, 140, 0);
}

.footer-detail {
    text-align: center;
}

/* Map*/
#map_mobile {
    width:100%;
    height:100%;
}

/* Date Picker*/

label {
    display: block;
    font: 1rem 'Lato', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

input,
label {
    margin: .4rem 0;
}

/*Gallery */

.img-item {
    margin-bottom: 5px;
    margin-left: -25px;
}


@media screen and (max-width: 800px) {
   
    .callout-container {
        height: 100vh;
        background:url("../img/hero-img-mobile.jpg");
        -webkit-background-size:cover;
        -moz-background-size: cover;
        -o-background-size:cover;
        background-size: cover;
        display: flex;
        position: relative;
    }

    .navalert-container{
        background-color: rgba(70, 70, 70, 0.95);
        padding:0;
        margin: 0;
    }

    .navbar .navbar-brand {
        font-size:25px;
    }

    .jumbotron-header {
        margin-top:60px;
    }
    
    #GalleryHero {
    height: 50%;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

    #EventsHero {
    height: 50%;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

    #MenuHero {
    height: 50%;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    }

    #ContactsHero {
    height: 50%;
    -webkit-background-size:cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    }

    .table{
        display: block !important;
        overflow-x: auto !important;
        width: 100% !important;
    }

   @media screen and (max-width:320px){
       
    .img-item {
        margin-right: 5;
        padding: 0;
    }
       
   }
}